@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 900px) {
    .main {
        display: flex;
        height: 85vh;
        width: 100vw;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: rgb(0, 0, 0) 0 0 70px 0;
    }

    .head {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 130px;
        font-weight: 900;
        background-image: linear-gradient(90deg,
                #ff6a00,
                #ee0979,
                #8e2de2,
                #4a00e0,
                #00c9ff,
                #92fe9d);
        background-size: 300%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: gradientMove 4s ease infinite;
    }

    .content {
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 40px;
        width: 40vw;
        color: rgba(255, 255, 255);
        font-weight: 500;
    }

    .btndiv {
        position: absolute;
        top: 85%;
        left: 10%;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 25px 80px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;

        background: linear-gradient(135deg,
                rgba(0, 238, 255, 0.6),
                rgba(255, 68, 0, 0.6),
                rgba(0, 68, 255, 0.6));
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 900px) and (min-width: 520px) {
    .main {
        display: flex;
        height: 85vh;
        width: 100vw;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: rgb(0, 0, 0) 0 0 70px 0;
    }

    .head {
        position: absolute;
        top: 10%;
        left: 10%;
        font-size: 130px;
        color: rgb(255, 255, 255, 0.6);
    }

    .content {
        position: absolute;
        top: 40%;
        left: 10%;
        font-size: 40px;
        width: 80vw;
        color: rgb(255, 255, 255, 0.6);
    }

    @media (prefers-color-scheme: dark) {}
}

@media screen and (max-width: 520px) {
    .main {
        display: flex;
        height: calc(100vh - 140px);
        width: 100vw;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        box-shadow: rgb(0, 0, 0) 0 0 70px 0;
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .head {
        position: absolute;
        top: 10%;
        left: 3%;
        font-size: 65px;
        font-weight: 900;
        background-image: linear-gradient(90deg,
                #ff6a00,
                #ee0979,
                #8e2de2,
                #4a00e0,
                #00c9ff,
                #92fe9d);
        background-size: 300%;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: gradientMove 4s ease infinite;
    }

    .content {
        position: absolute;
        top: 40%;
        left: 3%;
        font-size: 17px;
        width: 80vw;
        color: rgba(255, 255, 255);
        font-weight: 500;
    }

    .btndiv {
        position: absolute;
        top: 85%;
        left: 3%;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 50px;
        font-size: 18px;
        font-weight: bold;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        cursor: pointer;

        background: linear-gradient(135deg,
                rgba(0, 238, 255, 0.6),
                rgba(255, 68, 0, 0.6),
                rgba(0, 68, 255, 0.6));
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    @media (prefers-color-scheme: dark) {}
}